form{
    margin: 1% 0% 5% 0%;

    input{
        @extend .input;
        width: 60%;
    }

    textarea{
        @extend .input;
        width: 80%;
        resize: $no;
    }
}

iframe{
    width: 100%;
    height: 100%;
    border: 1px solid $claro;
    margin-bottom: 5%;
}

.cajaEstrellas{
    display: flex;
    flex-direction: row;
    padding-right: 5%;

    section{
        padding-right: 3%;
    }

    ul{
        padding-left: 0%;
    
        li{
            display: inline;
            list-style: $no;
            padding: 0em 0em 0em 1.5em;
        }
    }
}

.nombreCliente{
    font-weight: $negrita;
    font-style: normal;
}

.ubicacion{
    display: grid;
    grid-template-areas: 
    "ubicacion mapa"
    "contactos mapa";
    grid-template-columns: 60% 40%;
    margin-bottom: 5%;
}

.ubicacionDireccion{
    padding-right: 10%;
}

.contacto{
    display: flex;
    align-items: $centrado;
    margin-top: 3%;
    padding-right: 10%;    

    p{
        margin-bottom: 0%;
        padding-left: 3%;
    }
}

.contactos{ 
    grid-area: contactos;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    padding-right: 10%;

    h3{
        font-size: 1.2em;
    }
}

.mapa{
    grid-area: mapa;
}