@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $fuente;
}

a{
    text-decoration: none;
    color: $negro;
    font-size: 1em;
}

h1{
    font-size: 22px;
    font-weight: $negrita;
}

h2{
    font-size: 18px;
    color: $contraste;
}

input{
    font-family: $fuente;
}

.boton-nav{
    margin-left: 25px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 14px;
    font-family: $fuente;
    font-weight: $negrita;

    &:hover{
        background-color: $negro;
        color: $blanco;
        border-radius: 5px;
    }
}

.nav-menu{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.caja-subtitulo{
    margin: 10px 10%;
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 2%;
    margin: 25px 10% 150px 10%;
}

.producto{
    width: 100%;
    position: relative;
    padding-bottom: 30px;
    border: 1px solid $claro;
    border-radius: 10px;
}

.imagen-producto{
    width: 100%;
    height: 70%;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-producto{
    height: 30%;
    padding-left: 10px;

    &:hover .comprar{
        opacity: 1;
    }
}

.nombre-producto{
    height: 50%;
}

.precio-producto{
    height: 25%;
}

.detalle-producto{
    height: 25%;
    font-size: 14px;
    color: $contraste;
}

.comprar{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 100%;
    background: $claro;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid transparent;
    color: $negro;
    font-size: 24px;
    font-weight: $negrita;
    font-family: $fuente;
}

.titulo{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.flexItemCentrado{
    display: flex;
    align-items: center;
}

.flexJustifyCentrado{
    display: flex;
    justify-content: center;
}

.caja-boton-input{
    margin: 35px 10% 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-confirmar{
    padding: 10px 15px;
    min-width: 180px;
    font-size: 14px;
    border: 1px solid $claro;
    border-radius: 10px;
    background-color: transparent;

    &:hover{
        border-color: $ok;
        background-color: $ok;
        color: $blanco;
    }
}

.boton-limpiar{
    padding: 10px 15px;
    min-width: 180px;
    font-size: 14px;
    border: 1px solid $claro;
    border-radius: 10px;
    background-color: transparent;

    &:hover{
        border-color: $limpiar;
        background-color: $limpiar;
        color: $negro;
    }
}

.cantidad-tabla{
    width: 20%;
    border: 1px solid transparent;
    border-bottom: 1px solid $gris
}

.caja-direccion{
    width: 55%;
    padding: 0px 20px;
}

.direccion{
    width: 100%;
    border: solid transparent;
    border-bottom: 1px solid $gris;
    font-size: 16px;
}

// css para pedidos.html

.caja-tabla{
    display: flex;
    justify-items: center;
    margin: 25px 10% 50px 10%;
}

.tabla{
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    th{
        padding-bottom: 10px;
        color: $contraste;
    }

    td{
        padding: 15px 0px;
    }
}

.tabla-width-60{
    width: 60%;
}

.tabla-width-55{
    width: 55%;
}

.tabla-width-40{
    width: 40%;
}

.tabla-width-30{
    width: 30%;
}

.tabla-width-20{
    width: 20%;
}

.tabla-width-15{
    width: 15%;
}

.tabla-width-5{
    width: 5%;
}

.borde-tr{
    border-bottom: 1px solid $claro;
}

.boton-tabla{
    min-width: 80%;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid transparent;
    background-color: transparent;

    &:hover{
        border-color: $negro;
        background-color: $negro;
        border-radius: 5px;
        color: $blanco;
    }
}

.tabla-detalle{
    font-size: 14px;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $claro;
    animation-duration: 5s
}

.cabecera-oculta{
    color: $contraste;
}

.caja-cargador{
    display: flex;
    justify-content: center;
}

.cargador {
    width: 70px;
    height: 70px;
    border: 10px solid $blanco;
    border-top: 10px solid $claro;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
