@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: $fuente;
}

a{
    text-decoration: $no;
    color: $negro;
    font-size: 1em;
}

h1{
    font-size: 22px;
    font-weight: $negrita;
}

h2{
    font-size: 18px;
    color: $contraste;
}

input{
    font-family: $fuente;
}

.boton-nav{
    margin-left: 25px;
    border: 0px solid transparent;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    font-size: 14px;
    font-family: $fuente;
    font-weight: $negrita;

    &:hover{
        border-bottom: 3px solid $oscuro;
        color: $oscuro;
    }
}

.nav-menu{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.caja-subtitulo{
    margin: 10px 10%;
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 2%;
    margin: 25px 10% 150px 10%;
}

.producto{
    width: 100%;
    position: relative;
    padding-bottom: 30px;
    border: 1px solid $claro;
    border-radius: 10px;
}

.imagen-producto{
    width: 100%;
    height: 70%;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-producto{
    height: 30%;
    padding-left: 10px;

    &:hover .comprar{
        opacity: 1;
    }
}

.nombre-producto{
    height: 50%;
}

.precio-producto{
    height: 25%;
}

.detalle-producto{
    height: 25%;
    font-size: 14px;
    color: $contraste;
}

.comprar{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 100%;
    background: $claro;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid transparent;
    color: $negro;
    font-size: 24px;
    font-weight: $negrita;
    font-family: $fuente;
}

.titulo{
    margin-top: 10px;
    font-size: 20px;
    text-align: $centrado;
}

.flexItemCentrado{
    display: flex;
    align-items: $centrado;
}

.flexJustifyCentrado{
    display: flex;
    justify-content: $centrado;
}

// css para carrito.html

.carrito{
    margin: 0% 10%;
    padding: 25px;
    border: 1px solid $claro;
    border-radius: 10px;

    ul{
        list-style: none;

        li{
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;

            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}

.caja-boton-input{
    margin: 15px 10% 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direccion{
    width: 50%;
    height: max-content;
    padding-left: 5px;
    border: 1px solid $gris;
    border-radius: 5px;
    font-size: 14px;
}

.boton-confirmar{
    padding: 10px 15px;
    min-width: 180px;
    font-size: 14px;
    border: 1px solid $claro;
    border-radius: 10px;
    background-color: transparent;

    &:hover{
        border-color: $ok;
        background-color: $ok;
        color: $blanco;
    }
}

.boton-limpiar{
    padding: 10px 15px;
    min-width: 180px;
    font-size: 14px;
    border: 1px solid $claro;
    border-radius: 10px;
    background-color: transparent;

    &:hover{
        border-color: $limpiar;
        background-color: $limpiar;
        color: $negro;
    }
}

.producto-carrito{
    width: 50%;
}

.cantidad{
    width: 10%;
    text-align: center;

    input{
        width: 100%;
        padding-left: 5px;
        border-radius: 5px;
        border: 1px solid $gris;
        font-size: 14px;
    }
}

.importe{
    width: 35%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

// css para pedidos.html

.pedidos{
    display: flex;
    justify-items: center;
    margin: 25px 10% 150px 10%;
}

.tabla{
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    th{
        padding-bottom: 10px;
        color: $contraste;
    }

    td{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.numero-tabla{
    width: 5%;
}

.direccion-tabla{
    width: 55%;
}

.total-tabla{
    width: 5%;
}

.entregado-tabla{
    width: 20%;
}

.detalle-tabla{
    width: 15%;
}

.borde-tr{
    border-bottom: 1px solid $claro;
}

.boton-detalle{
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid transparent;
    background-color: transparent;
}

.boton-detalle:hover{
    border-color: $oscuro;
    background-color: $oscuro;
    border-radius: 5px;
    color: $blanco;
}

