header{
    width: 100%;
    background-color: $claro;
    display: flex;
    justify-content: space-between;
    align-items: $centrado;
    height: auto;
    padding: 1% 15%;

    a{
        font-weight: $negrita;
    }

    a:hover{
        color: $oscuro;
    }
}

.headerLogo{
    display: flex;
    justify-content: space-between;
    align-items: $centrado;
}

nav{
    
    ul{
        margin-bottom: 0%;
    }
}