header{
    @extend .flexItemCentrado;
    width: 100%;
    background-color: $claro;
    justify-content: space-between;
    height: auto;
    padding: 0.5% 10%;

    h1{
        font-family: $marca;
        font-size: 1.8em;
    }

    a{
        font-weight: $negrita;
        white-space: nowrap;
    }
}

.headerLogo{
    @extend .flexItemCentrado;
    justify-content: flex-start;
    width: 100%;

    div{
        margin-right: 10px;
    }
}