@mixin m_input ($width, $font-family, $font-size, $border, $border-radius, $padding, $margin-bottom){
    width: $width;
    font-family: $font-family;
    font-size: $font-size;
    border: $border;
    border-radius: $border-radius;
    padding: $padding;
    margin-bottom: $margin-bottom;
}
