article{

    a{
        
        img{
            width: 100%;
            border-radius: 5%;
            margin-bottom: 5%;
        }

        p{
            font-size: 0.9em;
            font-style: $cursiva;
        }
    }

    h3{

        :hover{
            color: $negro;
        }
    }

    p{

        :hover{
            color: $negro;
        }
    }
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: $centrado;
    gap: 2%;
    margin: 3% 0% 2% 0%;
}

.recomendado{
    color: $negro;
    background-color: $blanco;
    width: 100%;
    border: 1px solid $blanco;
    font-size: 1em;
    padding-bottom: 3%;
    border-bottom: 3px solid transparent;
    animation-duration: 0.8s;

    &:hover{
        border-bottom: 3px solid $oscuro;
    }   
}

