article{

    a{
        
        img{
            width: 100%;
            border-radius: 5%;
            margin-bottom: 5%;
        }

        p{
            font-size: 0.9em;
            font-style: $cursiva;
        }
    }
}