.seccionInfo{
    display: flex;
    //padding: 0em 3em 2em 0em; 
    font-size: 1.6em;
    margin-bottom: 5%;
}

.centradoDerecha{
    text-align: $right;
    padding-left: 10%;    
}

.centradoIzquierda{
    text-align: $left;
    padding-right: 10%;
}

.borde{
    background-color: $oscuro;
    width: 5%;
}