//colores
$blanco: #FFFFFF;
$negro: #000000;
$claro: #EBCFB8; 
$contraste: #4B4B4B;
$gris: #CCCCCC;
$ok: #4D9C3B;
$limpiar: #AAAAAA;
$borde-claro: #F1F1F1;

//fuente
$fuente: 'Poppins';
$marca: 'Satisfy';

//estilos de fuentes
$negrita: bold;







