//colores
$blanco: #fff;
$negro: #000;
$gris: #ccc;
$claro: #EBCFB8;
$oscuro: #74554d; 
$claroAcentuado: #ffefe2;
$contraste: #292e33;

//fuente
$fuente: 'Nunito';
$marca: 'Satisfy';

//estilos de fuentes
$negrita: bold;
$cursiva: italic;

//posiciones
$centrado: center;
$right: right;
$left: left;

//booleano
$no: none;






