//colores
$blanco: #fff;
$negro: #000;
$gris: #ccc;
$rosaFondo: #EBCFB8;
$rosa: #B08074; 

//fuente
$fuente: 'Nunito';

//estilos de fuentes
$negrita: bold;
$cursiva: italic;

//posiciones
$centrado: center;
$right: right;
$left: left;

//booleano
$no: none;






