//colores
$blanco: #FFFFFF;
$negro: #000000;
$claro: #EBCFB8;
$oscuro: #74554D; 
$contraste: #4B4B4B;
$gris: #CCCCCC;
$ok: #4D9C3B;
$limpiar: #AAAAAA;

//fuente
$fuente: 'Poppins';
$marca: 'Satisfy';

//estilos de fuentes
$negrita: bold;
$cursiva: italic;

//posiciones
$centrado: center;
$right: right;
$left: left;

//booleano
$no: none;






