@import "variables";
@import "general";
@import "header";   
@import "productos";
@import "sobreNosotros";
@import "valoracion";
@import "contacto";
@import "estrellas.scss";
@import "footer";
@import "queries";
